.navbarContainer {
    background-color: #ffdf00;

    h3 {
        color: white;
        font-size: 40px;
        padding-left: 20px;
        font-weight: lighter;
    }

    .nav {
        padding: 10px 20px;

        .item {
            color: black;
            .navLink {
                display: flex;
                img {
                    margin-right: 10px;
                }
            }
            a {
                text-decoration: none;
                color: black;
                display: block;
                padding: 10px;
                &:hover {
                    background-color: white;
                }

                &.active {
                    //color: gold;

                    background-color: white;
                }
            }
        }
    }

    .friends {
        h3 {
            color: black;
        }
        .friendsContainer {
            margin: 0 10px 0 10px;
            display: flex;
        }
    }

}