.descriptionBlock {
    padding: 10px;
    display: flex;
    b {
        font-weight: 700;
    }

    .left {
        display: flex;
        flex-direction: column;

        .mainPhoto {
            max-width: 300px;
        }
    }

    .right {
        margin-left: 100px;
    }


    .jobContainer {
        display: flex;
        align-items: center;

        .jobStatus {
            width: 20px;
            margin-left: 5px;
        }
    }

}

.contact {
    padding-left: 10px;
}