.descriptionBlock {
  padding: 10px;

  img {
    width: 300px;
  }

  .jobContainer {
    display: flex;
    align-items: center;

    .jobStatus {
      width: 50px;
      margin-left: 5px;
    }
  }
}