.descriptionBlock {
  padding: 10px;
  display: flex;
  .right {
    margin-left: 100px;
  }
  img {
    width: 300px;
    //border: 10px solid white;
  }

  .jobContainer {
    display: flex;
    align-items: center;

    .jobStatus {
      width: 50px;
      margin-left: 5px;
    }
  }
}