.item {
    display: flex;
    align-items: center;

    .ava {
        width: 80px;
        margin-right: 10px;
    }

    .like {
        width: 32px;
        margin-left: 10px;
        cursor: pointer;
    }
}



